.container-skills {
  display: flex;
  position: relative;
}

.center-skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.title-skills {
  position: relative;
  top: 30px;
  font-size: 16px;
  line-height: 32px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #ef6d58;
  margin-bottom: 10px;
}

.div-skills {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin-top: 100px;
  color: #ccc8ff;
  margin-bottom: 50px;
}

.card-skills {
  display: flex;
  flex-direction: column;
  position: static;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  background: #fff;
  margin-left: 20px;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 1px 2px 6px rgb(0,0,0,0.4);
  color: #000;
}

.card-skills:hover{
  transform: scale(1.1);
  transition: all 0.5s ease;
  background-color: transparent;
  color: white;
  border: 1px solid #fff;
}

.card-skills:not(hover){
  transition: all 0.5s ease;
}

.item-react {
  color: #61DBFB;
  font-size: 100px;
}

.item-html{
  color: #f06529;
  font-size: 100px;
}

.item-css{
  color: #264de4;
  font-size: 100px;
}

.item-js{
  color: #F0DB4F;
  font-size: 100px;
}

.item-node{
  font-size: 100px;
  color: #68A063;
}
